body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 24px;
}

img {
    border: 4mm ridge rgba(23, 2, 85, 0.9);
}

#date-time {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 30px;
}

.navbar {
    justify-content: center;
    align-items: center;
   
}
